:root{
    /* ****    COLOR Properties *********** */
    --main-site-background-color:#e4e9f7;
    --side-bar_background-color:#fff;
    --side-bar-header-background:#fff;

    --primary-color:#695cfe;
    --primary-light-color:#f6f5ff;
    --side-bar-text-color:(var(--main-site-background-color));
    --text-color:#707070;

    /* Typography */
}

.page-parent-container{
    width: 100%;
    background: var(--main-site-background-color);
    display: grid;
    grid-template-columns: 220px 1fr;
    min-height: 100%;
}

.page-parent-container .side-bar{
    background: var(--side-bar_background-color);
    border-right: 1px solid #f0f0f0;
    transition: 3s width ease-in-out;
    padding: 14px 12px;
    position: relative;
}
.page-parent-container .side-bar header{
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3rem;
}
.page-parent-container .side-bar header span.site-image{
    width: 45px;
    height: 45px;
    background: #000;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;

}
.page-parent-container .side-bar header .site-header-name{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.page-parent-container .side-bar header .site-header-name h3{
    font-family: 'Recursive', sans-serif;
    font-weight: 600;
    font-size: 1.3rem;
    text-transform: uppercase;
}
.page-parent-container .side-bar header .site-header-name span{
    opacity: .6;
}
.page-parent-container .side-bar header span#toggle-btn{
    position: absolute;
    right: -25px;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    color: #fff;
    font-size: 16px;
}
.page-parent-container .side-bar .side-bar-navs{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}
.page-parent-container .side-bar .side-bar-navs .nav-item{
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: .3s all ease;
}
.page-parent-container .side-bar .side-bar-navs .active,
.page-parent-container .side-bar .side-bar-navs .nav-item:hover{
    background: #000;
    color: var(--side-bar_background-color);
}
.page-parent-container .side-bar .side-bar-navs .nav-item span,
.page-parent-container .side-bar .user-profile .user-ico span{
    font-size: 2rem;
}
.page-parent-container .side-bar .side-bar-navs .nav-item span.important{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: red;
    border-radius: 50%;
    font-size: 1.8rem;
}
.page-parent-container .side-bar .side-bar-navs .nav-item p,
.page-parent-container .side-bar .user-profile a{
    font-size: 1.1rem;
}
.page-parent-container .side-bar .user-profile{
    position: absolute;
    bottom: 3.5rem;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.page-parent-container .side-bar .user-profile .user-ico{
    display: flex;
    gap: .8rem;
    align-items: center;
}
.page-parent-container .side-bar .user-profile a{
    display: inline-block;
    font-size: .8rem;
    text-align: left;
    padding-left: 2.5rem;
}
/* .page-parent-container .main-site-view{

} */
.page-parent-container .main-site-view .section-header{
    width: 100%;
    height: 60px;
    background: var(--side-bar_background-color);
    padding: 14px 40px;
    display: flex;
    align-items: center;

}
.page-parent-container .main-site-view .section-header h4{
    display: flex;
    align-items: center;
    gap: 1rem;
    text-transform: capitalize;
    font-size: 1.1rem;
}
.page-parent-container .main-site-view .section-header h4 span{
    font-size: 1.6rem;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;/* 
    background: rgba(0, 0, 0, .6);
    color: #fff; */
}
.page-parent-container .main-site-view .main-site-overview-section{
    padding: 15px 25px;
}
p.section-heading{
    font-weight: 600;
    opacity: .8;
    font-size: 1.3rem;
    margin-bottom: .3rem;
    text-transform: capitalize;
}
.page-parent-container .main-site-view .main-site-overview-section .livestock-info .card-collections{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
}
.page-parent-container .main-site-view .main-site-overview-section .livestock-info .card{
    width: 280px;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background: var(--side-bar_background-color);
    border-radius: 10px;
}
.page-parent-container .main-site-view .main-site-overview-section .livestock-info .card .card-ico{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.page-parent-container .main-site-view .main-site-overview-section .livestock-info .card .card-ico span:first-child{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-parent-container .main-site-view .main-site-overview-section .livestock-info .card .card-ico span:last-child{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--side-bar_background-color);
    background-color: var(--bg-color);
    border-radius: 50%;
    font-size: 1rem;
}
.page-parent-container .main-site-view .main-site-overview-section .livestock-info .card .card-info{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}
.page-parent-container .main-site-view .main-site-overview-section .livestock-info .card .card-info span.price{
    font-size: 1.5rem;
    font-weight: bold;
}
.page-parent-container .main-site-view .main-site-overview-section .livestock-info .card .card-info p{
    font-size: 1rem;
    opacity: .8;
}

.page-parent-container .main-site-view .main-site-overview-section .livestock-statistical-data .stats{
    width: 100%;
    height: auto;
    display: flex;
    gap: 1.5rem;
}
.page-parent-container .main-site-view .main-site-overview-section .livestock-statistical-data .stats .chart2{
    background: var(--side-bar_background-color);
    width: 400px;
    height: auto
}
.page-parent-container .main-site-view .main-site-overview-section .livestock-statistical-data .stats .chart2 table{
    width: 100%;
    height: 200px;
    padding: 1rem .6rem;
}
.page-parent-container .main-site-view .main-site-overview-section .livestock-statistical-data .stats .chart2 table tbody{
    width: 100%;
    height: auto;
}
.page-parent-container .main-site-view .main-site-overview-section .livestock-statistical-data .stats .chart2 table tr{
    width: 100%;
    border-bottom: 2px solid #0002;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-bottom: 2rem;
}