{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'stylesheets/reset.css' %}">
    <link rel="stylesheet" href="{% static 'stylesheets/homePage.css' %}">
    <title>Home | Livestock</title>
</head>
<body>
    <div class="page-container">
        <header class="site-header">
            <div class="site-logo">
                <img src="{% static 'images/bull_head-Photoroom.png' %}" alt="site-header image">
                <h4>Livestock Management</h4>
            </div>
            <div class="navigations">
                <a href="#">Home</a>
                <a href="#prediction-section">livestock Health Prediction</a>
                <a href="#">Recommendation</a>
                <a href="#about-us">About us</a>
                <a href="#contact-us">Contact us</a>
            </div>
        </header>
        <div class="main-site-view">
            <div id="Home">
                <h2>Livestock Health Management and <br> monitoring system</h2>
                <div class="project-info">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laborum nemo impedit veniam iusto quo numquam, vel modi, consectetur dolores accusamus maiores at molestiae itaque vero blanditiis exercitationem veritatis quas! Repellat.
                </div>
                <div class="ctas">
                    <button>Predict Animal health</button>
                    <a href="">
                        Recommendation
                        <span></span>
                    </a>
                </div>
            </div>
            <div class="prediction-section" id="prediction-section">
                <div class="input-section">
                    <span></span>
                    <form action="/livestock/prediction" method="post">
                        {% csrf_token %}
                        <p>Enter symptoms exhibited by the farm animal</p>
                        <select name="animal-name" id="">
                            <option value="Cow">COW / Cattle</option>
                            <option value="Goat">Goat</option>
                            <option value="Sheep">Sheep</option>
                            <option value="Buffalo">Buffalo</option>
                            <option value="Chicken">Chicken</option>
                            <option value="Turkey">Turkey</option>
                        </select>
                        <select name="symptom1">
                            {% for symptom in symptoms1 %}
                                <option value="{{symptom}}">{{symptom}}</option>
                            {% endfor %}
                        </select>
                        <select name="symptom2" id="">
                            {% for symptom in symptoms2 %}
                                <option value="{{symptom}}">{{symptom}}</option>
                            {% endfor %}
                        </select>
                        <select name="symptom3" id="">
                            {% for symptom in symptoms3 %}
                                <option value="{{symptom}}">{{symptom}}</option>
                            {% endfor %}
                        </select>
                        <input type="number" placeholder="Animal age" name="age">
                        <input type="number" placeholder="Animal Temperature" name="temp">

                        <button>Predict</button>
                    </form>
                </div>
                <div class="output-section">
                    <h5>Result</h5>
                    <p>Animal Type: <span>{{animal_name}}</span></p>
                    <p>Symptom 1: <span>{{symptom1}}</span></p>
                    <p>Symptom 2: <span>{{symptom2}}</span></p>
                    <p>Symptom 3: <span>{{symptom3}}</span></p>
                    <p>Age: <span>{{age}}</span></p>
                    <p>Temperature: <span>{{temp}}</span></p>
                    <h4>Disease Predicted: <span>{{animalDisease}}</span></h4>
<!--                    <div class="severity">-->
<!--                        <h5>severity level</h5>-->
<!--                        <p>High <span></span></p>-->
<!--                        <p>Low <span></span></p>-->
<!--                    </div>-->
                </div>
            </div>
            <div class="Recommendation">

            </div>
            <div class="about-us" id="about-us">
                <div class="author-info">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde officiis sint voluptatum doloribus eum rerum, consequuntur officia libero? Perspiciatis explicabo voluptatum et pariatur at accusamus natus autem distinctio sunt qui.
                    Maxime atque repellat officia eligendi qui, ea repudiandae accusantium alias vero aliquid fuga rerum corporis praesentium eos autem placeat dolorum similique earum. Unde fugit ratione harum! Maiores eaque temporibus quaerat. Lorem, ipsum dolor sit amet consectetur adipisicing elit. A odio voluptate quis, quia commodi excepturi beatae tenetur blanditiis nam necessitatibus, assumenda corporis debitis ut provident doloribus nostrum, voluptatum explicabo quisquam!
                </div>
            </div>

        </div>
        <footer>
            &copy; All Right Researved 2024
        </footer>
    </div>
</body>
</html>